   <font  size="2">
   <div id="janela">
    <div id="ljanela">
        <table class="tabelas" border="1"align="center" width="100%">
           <tr>
             <th>
               <table width="100%">
                  <th> <font size="4">LEIA ANTES DE COMEÇAR A CADASTRAR</font></th>
                  <th width="5%"><%= button_to 'X', new_acervo_path, {:method => "get"}%></th>
               </table>
             </th>

           </tr>
           <tr>
              <td colspan="2" align="left">
                <b><i>Para melhor manter a integridade do banco de dados favor seguir as seguintes regras:</i></b>
                <ul>1)Utilizar sempre letras maiúsculas, evite utilizar letras minúsculas (mantenha o CapsLock ligado).</ul>
                <ul>2)Selecionar o <b>TIPO DE MAPA.</b></ul>
                <ul>3)Ao cadastrar <b> Título  <font color="red">NÃO</font></b> digitar o artigo no inicio mas no final após a virgula.<br/>
                     <font color="blue">Exemplo: O título "O BRASIL CENTRAL" deve ser cadastrado: "BRASIL CENTRAL, O"</font></ul>
                <ul>4)<font color="red"><b>NÃO</b></font> deixar nenhum campo sem preenchimento, caso não saiba o que fazer, preencha-o com dois traços (<b> -- </b>),
                     e se for caixa de seleção escolha a opção mais próxima ou a opção OUTROS</ul>
                <ul>5)Todo cadastro possui um <b>TOMBO(local)</b> que é o registro que cada unidade deve possuir (necessita ser digitado) e um <b>TOMBO(Seduc)</b>que é o resgitro geral no Biblos (<b>não</b> necessita ser digitado)</ul>
                <ul>6)Qualquer dúvida, antes de preencher os cadastros entre em contato com a SEDUC (Sala de Leitura ou Informática)</ul>
              </td>
            </tr>
      </table>
    </div>
  </div>

 </font>