<br/>
<font size="2">
<table border="1" width="100%">
  <tr>
    <th colspan="4">Editora:</th>
 </tr>
  <% for editora in @editora %>
  <tr>
    <td width="20%"> <b>Nome:</b></td>
    <td colspan="3"><%=h editora.nome %></td>
  </tr>
  <tr>
    <td width="20%"> <b>Cidade:</b></td>
    <td colspan="3"><%=h editora.cidade %></td>
  </tr>

  <tr>
    <td><b>Pais:</b></td>
    <td><%=h editora.pais %></td>
      <div class="botao">
        <% if current_user.has_role?('administrador')%>
           <td width="20%"align="right"><%= button_to('Excluir',{:action => "destroy", :id =>editora}, :confirm => 'Confirma exclusão?', :method => "delete")%></td>
        <%end%>
      </div>

  </tr>
  <tr>
    <th colspan="4"></th>
 </tr>

<% end %>
</table>
</font>
