<br/><br/>
<table class="tabelas" align="center" width="50%">
 <tr>
     <td colspan="2" align="left">
       <font  size=5 color="black"> <b>MÚSICAS</b></font>
    </td>
 </tr>
 <tr>
   <td>
       <fieldset><legend><font  size=4> Músicas Cadastradas</font></legend>
       <font  size="2">
         <table width="100%">
            <% for musica in @musicas %>
             <tr>
               <td width="20%"> <b>Música:</b><%=h musica.nome %></td>
            </tr>
             <tr>
               <td width="20%"> <b>Interprete:</b><%=h musica.interprete %></td>
            </tr>

            <tr>
               <td colspan="2"><font color="blue"> <b>___________________________________________________</b></font></td>
            </tr>
         <% end %>
        </table>
        </font>
      </fieldset>
      <div class="botao">
       <table width="100%" align="left">
          <tr>
             <td width="8%"><%= button_to 'Voltar', new_musica_path, {:method => "get"}%></td>
            <td align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
       </table>
     </div>
    </td>
 </tr>
</table>
<br/>



