<br/><br/>
<font size="2">
<table  class="tabelas" width="50%"align="center">
 <tr>
     <td colspan="2" align="left">
         <font  size=4 color="black"> <b> NIVEL DE ACESSO</b></font>
    </td>
 </tr>
<tr>
  <td>
    <br/>
     <table width="100%" border="2">
      <tr>
        <th>Login:</th>
        <th>Nome Usuário:</th>
        <th>Nível de acesso:</th>
      </tr>
      <tr>
        <td><%= User.find(@role_user.user_id).login %></td>
        <td><%= Role.find(@role_user.role_id).name %></td>

              <%if Role.find(@role_user.role_id).name == 'administrador' then%>
                  <td>Usuário administrador do sistema. Acesso total ao sistema.</td>
              <%else%>
                  <td>Usuário estagiário. Acesso restrito ao sistema.</td>
              <%end%>
      </tr>
     </table>
      <div class="botao">
       <table>
        <tr>
          <td align="left" width="8%"><%= button_to 'Voltar', homes_path, {:method => "get"} %></td>
          <td align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
        </tr>
      </table>
      </div>
   </td>
  </tr>
 </table>
</font>
<br/>


