#chat_form{
    position:relative;
    left: 63px;

}
#chat_room{
    position:relative;
    left: 140px;
    top: 0px;
    background-color:white;
    width:790px;
    text-decoration:inherit;
    color:blue;
    text-align:left;
    height:400px;
    border:1px solid black;
 }
#users {
  float: left;
  width: 120px;
  height: 434px;
  border-style: inset;
  overflow: auto;
  color: white;
  background-color: gray;
  text-align:left;
  list-style:none;
}

.cadastro {
    border:10px solid black;
  margin-left:170px;

}


.informa {
  border-collapse: separate;

}

.informa th {
  font-size: 10px;
  color: #FFF;
  background-color: gray;
  padding: 4px 8px;
  padding-bottom: 4px;
  text-align: center;
}

.informa td {
  padding: 4px 8px;
  text-align: left;
  background-color: white;
  color: black;
}


logo{

margin:90px 0px;
background-image:url(Imagens/logo.jpg);
background-repeat: no-repeat;
height:120px;
}
#menu {
   position:inherit;
   left: 280px;
   top: 20px;;
}
body {
margin:0;
background-color:white

}
a:link {text-decoration:none}
a:visited {text-decoration:none}
a:active {text-decoration:none}
a:hover {text-decoration:none}
a img {
border-width:0;
}
#alinha{
margin:25px;
}

#posicao_login {
   position :relative;
   left: 90px;
   
}

#imagem_login{
   background-image:url(Imagens/livros.jpg);
   background-repeat: no-repeat;
   text-align: center;
   color:white;
   width:100%;
   height:295px;
   margin:0;
   font:bold;
   border-color:black;
   border-left: double;
   border-bottom: double;
   border-top: double;
   border-right: double;

 }

   #rodape_login{
    background-image:url(Imagens/fundo_rodape.jpg);
  	position:relative;
    width:100%;
    color:white;
    text-align:center;
}

#posicao_novo_usuario {
   position:absolute;
   left: 350px;
   top: 200px;;
}

#posição1 {
  margin:25px;
}

#conteudo3 {
   position:absolute;
   left: 100px;
   top: 200px;
}

#topo {
background-image:url(Imagens/americana.jpg);
background-repeat: no-repeat;
text-align: center;
color:black;
width:99.5%;
height:84px;
margin:0;
font:bold;
border-color:black;
border-left: double;
border-bottom: double;
border-top: double;
border-right: double;
}

#rodape{
    background-image:url(Imagens/fundo_rodape.jpg);
    margin:25px;
  	position:relative;
    top: 589px;
    width:96%;
    color:white;
    text-align:center;
}

#janela {
   background-repeat:repeat;
   text-align: center;
   color:black;
   height:890px;
   width:944px;
   margin:0;
   font:bold;
   border-color:black;
   border-left: double;
   border-bottom: double;
   border-top: double;
   border-right: double;
}

#ljanela {
  width:65%;
  margin-top: 50px;
  margin-left: 80px;
}

#contents{
    margin:0 auto;
    background-color:White;
    width:950px;

}

#principal{
    float:right;
    width:950px;
    height:893px;
    background-image:url(Imagens/principal_body.jpg);
    background-repeat:repeat;
    font-size:10px;
    border-color:black;
    border-left: double;
    border-bottom: double;
    border-top: double;
    border-right: double;

}

#principal2{
    float:right;
    height:520px;
    width:950px;
    background-image:url(Imagens/principal_body.jpg);
    font-size:10px;
    text-align: center;
    color:white;
    border-color:black;
    border-left: double;
    border-bottom: double;
    border-top: double;
    border-right: double;
}
#principal3{
    float:right;
    width:950px;
    background-image:url(Imagens/principal_body.jpg);
    font-size:10px;
    text-align: center;
    color:white;
    border-color:black;
    border-left: double;
    border-bottom: double;
    border-top: double;
    border-right: double;
}

#principal4{
    float:right;
    width:898px;
    background-image:url(Imagens/principal_body.jpg);
    font-size:10px;
}

#telaa.tam_padrao3{
    float:right;
    width:950px;
    background-image:url(Imagens/principal_body.jpg);
    font-size:10px;
    margin:0;
    height:510px;
    border-color:black;
    border-left: double;
    border-bottom: double;
    border-top: double;
    border-right: double;
}

#tela.tam_padrao{
    margin:0;
    height:890px;
    border-color:black;
    border-left: double;
    border-bottom: double;
    border-top: double;
    border-right: double;
}
#logoInfo{
   background-repeat:repeat;
   text-align: center;
   color:white;
   width:945px;
   margin:0;
   font:bold;
   border-color:black;
   border-left: double;
   border-bottom: double;
   border-top: double;
   border-right: double;
}



.tabelas {
  border: solid 1px;
  border-collapse: separate;
  border-color:black;
}
.tabelas2 {
  border: solid 1px;
  border-collapse: separate;
  border-color:black;
}
.tabelasT {
  border: solid 1px;
  border-collapse: separate;
  border-color:black;
}

.hide {
    display:none;
}
.tabelas th {
  font-size: 12px;
  color: black;
  background-color: #EE9A00;
  padding: 4px 8px;
  padding-bottom: 4px;
  text-align: center;
}

.tabelas2 th {
  font-size: 12px;
  color: black;
  background-color: #EE9A00;
  padding: 4px 8px;
  padding-bottom: 4px;
  text-align: center;
}

.tabelasT th {
  font-size: 12px;
  color: black;
  background-color: #EE9A00;
  padding: 4px 8px;
  padding-bottom: 4px;
  text-align: center;
}

.tabelas th.titulo {
    background-color: yellow;
}

.tabelas2 th.titulo {
    background-color: yellow;
}

.tabelasT th.titulo {
    background-color: yellow;
}

.tabelas th.titulo h1{
    color:#000;
}

.tabelasT th.titulo h1{
    color:#000;
}

.tabelas td {
  padding: 4px 8px;
  background-color: #F5DEB3;
  color:black;
}

.tabelas2 td {
  font-size: 12px;
  padding: 4px 8px;
  background-color: #F5DEB3;
  color:black;
}

.tabelasT td {
  font-size: 1px;
  padding: 4px 8px;
  background-color: #F5DEB3;
  color:black;
}


#accordion {

    float:left;
    padding-left:50px;
    padding-top:20px;
    width:500px;
    font-size:10px;
    margin:0;
}
#relogio {

    float:right;
    padding-left:50px;
    padding-top:20px;
    width:500px;
    font-size:10px;
    margin:0;
}

.nav-container-outer{
background: #990000;
padding: 0px;
height: 74px;
background: url(images/nav-bg.jpg);
}

.float-left{
float: left;
}
.float-right{
float: right;
}
.nav-container .divider{
display:block;
font-size:1px;
border-width:0px;
border-style:solid;
}
.nav-container .divider-vert{
float:left;
width:0px;
display: none;
}
.nav-container .item-secondary-title{
display:block;
cursor:default;
white-space:nowrap;
}
.clear{
font-size:1px;
height:0px;
width:0px;
clear:left;
line-height:0px;
display:block;
float:none;
}
.nav-container{
position:relative;
zoom:1;
margin: 0 auto;
}
.nav-container a, .nav-container li{
float:left;
display:block;
white-space:nowrap;
}
.nav-container div a, .nav-container ul a, .nav-container ul li{
float:none;
}
.nav-container ul{
left:-10000px;
position:absolute;
}
.nav-container, .nav-container ul{
list-style:none;
padding:0px;
margin:0px;
}
.nav-container li a{
float:none
}
.nav-container li{
position:relative;
}
.nav-container ul{
z-index:10;
}
.nav-container ul ul{
z-index:20;
}
.nav-container ul ul ul{
z-index:30;
}
.nav-container ul ul ul ul{
z-index:40;
}
.nav-container ul ul ul ul ul{
z-index:50;
}
li:hover>ul{
left:auto;
}
#nav-container ul {
top:100%;
}
#nav-container ul li:hover>ul{
top:0px;
left:100%;
}

/*^'^ Primary Items ^'^*/
#nav-container a{
padding:7px 17px 7px 18px;
margin: 10px 0px 0px 0px;
color: #FFFFFF;
font-family: Trebuchet MS, Arial, sans-serif, Helvetica;
font-size:14px;
text-decoration:none;
font-weight: bold;
background: url(images/item-primary-bg.gif);
background-repeat: no-repeat;
background-position: top;
}

#nav-container a:hover{
color: #6C3600;
background: url(images/item-primary-bg.gif);
background-repeat: no-repeat;
background-position: center;
}

/*^'^ Secondary Items Container ^'^*/
#nav-container div, #nav-container ul{
margin:0px 0px 0px 0px;
background: url(images/item-secondary-container-bg.jpg);
background-repeat: no-repeat;
background-color: #FF9900;
border-bottom: 1px solid #CA6500;


}

/*^'^ Secondary Items ^'^*/
#nav-container div a, #nav-container ul a{
padding:0px 10px 3px 6px;
background-color: #FFFFFF;
background: url(images/item-secondary-bg.jpg);
background-repeat: no-repeat;
background-position: 0px 22px;
font-size:11px;
border-width:0px;
border-style:none;
margin: 0px 0px 0px 0px;
width: 90px;
}

/*^'^ Secondary Items Hover State ^'^*/
#nav-container div a:hover, #nav-container ul a:hover{
background-color: #FFFFFF;
background: url(images/item-secondary-bg.jpg);
background-repeat: no-repeat;
color:#6C3600;
}

/*^'^ Secondary Item Titles ^'^*/
#nav-container .item-secondary-title{
cursor:default;
padding:4px 0px 3px 7px;
color: #6C3600;
font-family: Arial, Trebuchet MS, Arial, sans-serif, Helvetica;
font-size:11px;
/* background: url(images/item-secondary-title-bg.jpg); */
background-repeat: no-repeat;
font-weight:bold;
}

/*^'^ Horizontal Dividers ^'^*/
#nav-container .divider-horiz{
border-top-width:1px;
margin:5px 5px;
border-color: #C16100;
}

/*^'^ Vertical Dividers ^'^*/
#nav-container .divider-vert{
border-left-width:1px;
height:15px;
margin:2px 2px 0px 2px;
border-color:#AAAAAA;
}


