body { 
  background: white;
  font-family: monaco, 'courier new', helvetica, sans-serif; 
}

#container { 
  width: 870px;
  margin: 50px auto; 
  background: #fff; 
  padding: 25px; 
  border: 1px solid #ccc; 
}

h1 {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px; 
  padding: 7px;
  text-align:center;
        
}

h1 span {
  color: #999; 
}


#mapCanvas {
  height: 400px;
  background: #F7F7F7;
  text-align:center;
  line-height: 400px;
}

.pagination {
padding: 3px;
margin: 3px;
}
.pagination a {
padding: 2px 5px 2px 5px;
margin: 2px;
border: 1px solid ;
text-decoration: none;
color: white;
background-color:teal;
}
.pagination a:hover, .pagination a:active {
border: 1px solid white;
color: black;
}
.pagination span.current {
padding: 2px 5px 2px 5px;
margin: 2px;
border: 1px solid black;
font-weight: bold;
background-color: gray;
color: black;}

.pagination span.disabled {
padding: 2px 5px 2px 5px;
margin: 2px;
border: 1px solid #eee;
color: #ddd;
background-color:white;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }


/*Contato*/

#quadro{
   position:relative;
   color:black;
   background-color:#b2a585;
   width:215px;
   height:300px;
   border-color:black;
   border-left: double;
   border-bottom: double;
   border-top: double;
   border-right: double;
   left:400px;
   top:10px;
}
