   <font  size="2">
   <div id="janela">
    <div id="ljanela">
      <table border="2">
        <td>
        <table class="tabelas" border="1"align="center" width="100%">
           <tr>
              <th> NORMAS E REGRAS</th>
           </tr>
           <tr>
              <td>
                <b><i>Para melhor desenvolver as atividades da biblioteca e da sala de leitura a SEDUC estabelece as seguintes regras:</i></b>
                <ul>1) .....................</ul>
                <ul>2) .....................</ul>
                <ul>3) .....................</ul>
              </td>
            </tr>
           <div class="botao">
            <table width="100%" align="left">
             <tr>
              <td width="8%"><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
              <td align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
             </tr>
           </table>
        </div>
      </table>
     </td>
     </table>
    </div>
  </div>
 
 </font>
