<div id="caixasobre">
 <div id="posicaosobre">
     <br/><br/><br/><br/>
       <table width="100%">
           <br/>
           <tr>
             <td align="center">
                <font size="5" color="red"><b>S E M E D U C  --  Ver.1.0</b></font>
             </td>
           </tr>
           <tr>
             <td align="left" >
              <font size="3" >Sistema de controle de inscrição on-line para cursos oferecidos pela
                Secretaria da Educação da Prefeitura Municipal de Americana - SP
                <br/>
               </font>
             </td>
           </tr>  
           <tr>
             <td align="left">
                <font size="3" ><u>Analistas:</u><br/><br/>
                > ALEXANDRE J. RIBEIRO SOARES<br/><br/>
              > NAOR GARCIA FILHO </font>
             </td>
           </tr>
            <tr>
               <td align="right"><%= button_to 'Voltar', gerenciars_path, {:method => "get"} %></td>
            </tr>
    </table>
 </div>
 </div>
