<br/>
<font size="3">
<table border="1" width="100%">
  <tr>
    <th colspan="2" width="80%">Área:</th>
    <th></th>
  </tr>
  <% for area in @area %>
  <tr>
    <td><font size="2"><%=h area.area %></font></td>
      <div class="botao">
        <% if current_user.has_role?('administrador')%>
           <td align="right"><%= button_to('Excluir',{:action => "destroy", :id =>area}, :confirm => 'Confirma exclusão?', :method => "delete")%></td>
        <%end%>
      </div>
  </tr>
<% end %>
</table>
</font>
