<br/><br/>
<table class="tabelas" align="center" width="50%">
 <tr>
     <td colspan="2" align="left">
       <font  size=5 color="black"> <b>ÁREAS DE CONHECIMENTO</b></font>
    </td>
 </tr>
 <tr>
   <td>
       <fieldset><legend><font  size=4> Áreas Cadastradas</font></legend>
       <font  size="2">
         <table width="100%">
            <% for area in @areas %>
             <tr>
               <td width="20%"> <b>Área:</b><%=h area.area %></td>
            </tr>
            <tr>
               <td colspan="2"><font color="blue"> <b>___________________________________________________</b></font></td>
            </tr>
         <% end %>
        </table>
        </font>
      </fieldset>
      <div class="botao">
       <table width="100%" align="left">
          <tr>
             <td width="8%"><%= button_to 'Voltar', new_area_path, {:method => "get"}%></td>
            <td align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
       </table>
     </div>
    </td>
 </tr>
</table>
<br/>



