
<br/><br/>
<table class="tabelas" align="center" width="100%">
 <tr>
     <td colspan="2" align="left">
       <font  size=5 color="black"> <b>  ÁREAS - CADASTRO DE LIVROS</b></font>
    </td>
   </tr>
 <tr>
 <td>
 <font  size="2">
 <table width="100%"  >
  <tr>
    <td width="50%" valign="top">
      <% form_for(@area) do |f| %>
        <fieldset><legend><font  size=4> Cadastrar Área</font></legend>
         <table>
           <tr>
             <td width="20%"align="left" colspan="3"><b>Área:</b>
                 <%= f.text_field :area %>
                   <%= observe_field 'area_area',
                      :frequency => 0.1,
                      :update => "cadastrados",
                      :with => :area_area,
                     :url => { :action => 'lista' } %>
            </td>
          </tr>
           <tr>
            <div class="botao">
               <td align="left"width="1%" ><%= f.submit "Salvar" %></td>
               <% end %>
               <td align="left" width="1%"><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
               <td align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
            </div>
          </tr>
         </table>
        </fieldset>
        <br/>
        <fieldset><legend><font color="red"> OBSERVAÇÕES:</font></legend>
        <table>
           <tr><td align="left"><font color="red">1)VERIFICAR ÁREAS JÁ CADASTRADAS ANTES DE CADASTRAR UMA NOVA.</font> </td></tr>
           <tr><td align="left"><font color="red">2)PARA CONSULTAR DIGITE A PRIMEIRA LETRA NA CAIXA "ÁREA" .</font> </td></tr>
           <tr><td align="left"><font color="red">3)VERIFICAR À ESQUERDA ÁREA JÁ CADASTRADAS. </font> </td></tr>

        </table>
        </fieldset>
     </td>
     <td width="50%" valign="top">
         <fieldset><legend><font  size=4> Assuntos Cadastrados</font></legend>
          <table width="100%">
           <tr>
              <td align="left">
                <div id="cadastrados"></div>
              </td>
           </tr>
          </table>
         </fieldset>
       </td>
     </tr>
   </table>
  </font>
 </td>
</table>
<br/>






