<br/>
<table  align="center" width="73%">
  <tr>
    <td>
      <fieldset><legend><font  size=5> ANEXO</font></legend>
           <%= render 'form' %>
      </fieldset>
    </td>
  </tr>
</table>
<br/>