<table>
   <tr>
     <td><b>Título:</b></td>
     <td></td>
     <td><%=h @identificacao.titulo %></td>
   </tr>
   <tr>
     <td><b>Subtítuto:</b></td>
     <td></td>
     <td><%=h @identificacao.subtitulo%></td>
   </tr>
   <tr>
     <td valign="top"><b>Autor:</b></td>
     <td></td>
     <td><% @identificacao.autors.each do |p| %>
            <%=h p.nome%><br/><br/>
          <%end%>
     </td>
   </tr>
 </table>