             <script>
               $(document).ready(function()
                {
                  $("#dropdownbutton9").click(function ()
                   {
                     $("#campos").slideToggle("high");
                    });
                });
               </script>
               <b>Musica(s)</b>
               <a href="#" id="dropdownbutton9"><%= check_box_tag "audiovisuai[check]" %></a>SIM
