<table>
  <tr>
    <td align="left"><b>Local Guardado:</b></td>
    <td align="left"><%= f.text_field :localguardado, :size => 43 %></td>
  </tr>
  <tr>
    <td align="left"><b>Unidade:</b></td>
    <td align="left"><%= f.collection_select  :unidade_id, @unidades, :id, :nome, :include_blank => ' -- Selecione -- ' %></td>
  </tr>
  <tr>
    <td align="left"><b>Aquisição:</b></td>
    <td align="left"><%= f.select :aquisicao, FORMAAQUISICAO.sort {|e0,e1| e0[0] <=> e1[0]}, :include_blank => '---Selecione---'%></td>
  </tr>
  <tr>
    <td align="left"><b>Data Aquisição:</b></td>
    <td align="left"><%= f.date_select(:dataaquisicao, :order => [:day, :month, :year], :start_year => (Date.today.year)-20) %></td>
  </tr>
</table>
