<p>
  <b>Assunto:</b>
  <%=h @assuntoiten.assunto_id %>
</p>

<p>
  <b>Assunto:</b>
  <%=h @assuntoiten.assunto %>
</p>


<%= link_to 'Edit', edit_assuntoiten_path(@assuntoiten) %> |
<%= link_to 'Back', assuntoitens_path %>