<table>
   <tr>
     <td><b>Título:</b></td>
     <td></td>
     <td><%=h @identificacao.titulo %></td>
   </tr>
   <tr>
     <td><b>Subtítuto:</b></td>
     <td></td>
     <td><%=h @identificacao.subtitulo%></td>
   </tr>
   <tr>
     <td><b>Autor:</b></td>
     <td></td>
     <td><%=h @identificacao.autor %></td>
   </tr>
 </table>