<br/><br/>
<table class="tabelas" align="center" width="100%">
 <tr>
   <td colspan="2" align="left">
      <font  size=5 color="black"> <b> CONSULTA LIVRO POR ISBN</b></font>
   </td>
  </tr>
  <tr>
    <td>
      <br/>
       <table>
        <tr>
          <td>
            <div class="botao">
            <table>
              <tr>
                <td><font  size="4" color="black"> ISBN: <%= collection_select :livro,:isbn_id, @isbns, :id, :nisbn, :include_blank => ' -- Selecione -- '  %></font></td>
                    
              </tr>
           </table>
           </div>
          </td>
        </tr>
        <tr>
          <td>
             <div class="botao">
              <table width="100%" align="left">
                <tr>
                   <td align="left" width="8%" ><%= button_to 'Voltar', homes_path, {:method => "get"} %></td>
                   <td align="left" ><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
                </tr>
             </table>
            </div>
          </td>
        </tr>
        <tr>
          <td>
          <%= observe_field 'livro_isbn_id',
               :update => "listagem",
               :url    => { :action => 'lista_isbn' },
               :with   => 'livro_isbn_id' %>
            <div id="listagem"> </div>
         </td>
       </tr>
    </table>
  </td>
 </table>
<br>

